language: python
dist: xenial

services:
    - xvfb

addons:
    apt:
      packages:
        - herbstluftwm
        - libxkbcommon-x11-0

env: 
   global:
      - OFFICIAL_REPO="pcdshub/adviewer"
      - BUILD_DOCS=1
      - secure: ""

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  include:
    - python: 3.6
      env:
        - CONDA_UPLOAD=1
    - python: 3.7

install:
  # Install additional development requirements
  - pip install -U -r dev-requirements.txt -r requirements.txt
  - pip install PyQt5

  # Install the package
  - pip install -e .


before_script:
  # Run the window manager
  - "herbstluftwm &"
  - sleep 1

script:
  - flake8 adviewer
  - coverage run run_tests.py
  - set -e
  
  - |
    if [[ -n "$DOCTR_DEPLOY_ENCRYPTION_KEY_PCDSHUB_ADVIEWER" && $BUILD_DOCS ]]; then
      # Create HTML documentation  
      pushd docs
      make html
      popd
      #Publish docs.
      doctr deploy . --built-docs docs/build/html --deploy-branch-name gh-pages --command "touch .nojekyll; git add .nojekyll"
    fi
   

after_success:
  - coverage report -m
  - codecov
